<table summary="Book form fields">
  <tr>
    <th>Title</th>
    <td><%= f.text_field :title, id: 'Title'%></td>
    <th>Author</th>
    <td><%= f.text_field :author, id: 'Author'%></td>
    <th>Price</th>
    <td><%= f.number_field :price, id: 'Price'%></td>
    <th>Published Date</th>
    <td><%= f.date_field :published_date, id: 'Published date'%></td>
  </tr>
</table>
